.venv*/
renv/
.Rhistory
.Rproj.user
*.Rproj
/**/data
.Rprofile
test.R
/datasets
svgenes/gliss/src
/**/*results*.csv
/__pycache__
/**/*.ipynb
/**/Rep11_MOB_0.csv
/**/MOB_sample_info.csv
/singularity
/**/*.simg
/**/*.sif
/**/*slurm*.out
/_slurm/results*
/**/*.h5ad
/datasets_and_results
